:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* General Styling */
.SearchBar{
  margin-bottom: 20px;
}
.SearchBar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.CategoryTag button {
  /* background-color: #f0f0f0; */
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.CategoryTag button.active { 
  background-color: #007bff; /* Example active color */
  color: white;
}
.content-wrapper{
  display:flex;
  justify-content: space-between;
}
.filter-sidebar {
  width: 200px;
  margin-right: 20px;
}
.FilterSidebar {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px 0;
  text-align: left;
}

.FilterSidebar h3 {
  margin-top: 0;
}

.FilterSidebar label {
  display: block;
  margin-bottom: 5px;
}

.DataList ul {
  list-style: none;
  padding: 0;
}

.DataList li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.DataList h3 {
  margin: 0 0 5px 0;
}

/* Loading and Error States (DataList) */
.DataList .loading {
  font-style: italic;
  color: #777;
}

.DataList .error {
  color: red;
}
.data-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.data-item h3 {
  margin: 0 0 10px 0;
}

.data-item .label {
  font-weight: bold;
}
ul {
  list-style: none; /* Removes bullet points */
  padding: 0;       /* Removes default padding */
}

li {

  border: 1px solid #ccc; /* Adds a border to each list item */
  padding: 10px; 
  margin-bottom: 10px;
  border-radius: 5px;    /* Optional: Adds rounded corners */
}
